{% extends "layouts/layout.html" %}
{% load static %}

{% block content %}
<section class="carousel-section">
    <div class="carousel-light_div">
        <h2>Los Mejores</h2>
        <h1>Whiskys<br>de La Plata</h1>
    </div>
    <div class="carousel-dark_div">
    </div>
    <div class="carousel">
        <div class="img-container">
            <img class="carousel-image" src="{% static "images/whisky2.png" %}">
        </div>
        <div class="img-container">
            <img class="carousel-image" src="{% static "images/whisky.webp" %}">
        </div>
    </div> 
</section>
<section class="about-section">
    <style>
        .about-section{
            background-image: url("{% static "images/whisky-about.webp" %}");
        }
    </style>
    <div class="subtitle-container">
        <h2 class="subtitle"> Sobre Nosotros </h2>
    </div>
    {% lorem 1 b random %}
    <br>
    {% lorem 1 b random %}
</section>

<section class="subscribe-section">
    <div class="subscribe">
        <div class="subtitle-container">
            <h2 class="subtitle"> Recibí Novedades y Promociones </h2>
        </div>
        <form>
            <input type="text" placeholder="Introducí tu email">
            <input class="send-button"type="submit" value="Suscribirse"> 
        </form>
    </div>
</section>

<section class="section">
    <div class="subtitle-container">
        <h2 class="subtitle"> Otra Información </h2>
    </div>
    <div>
        {% lorem 2 b random %}
    </div>
</section>
  
<script type="text/javascript" src="{% static "js/carousel.js" %}"></script>
{% endblock content %}